:root {
  --pb-body-bg: #fff;
  --pb-body-color: #253662;
  --pb-link-color: #0f54ff;

  --pb-title-from-color: #4994fc;
  --pb-title-to-color: #8749fc;

  --pb-job-line-color: #b9cdff;

  --pb-text-muted: #697697;

  --pb-btn-transparent-hover-bg: #f2f4fa;

  --pb-track-play-bg: #51c693;
  --pb-track-play-color: #f2f4fa;

  --pb-alert-info-bg: #dbe5ff;
  --pb-alert-info-color: #072a83;
  --pb-alert-danger-bg: #fbc3c3;
  --pb-alert-danger-color: #6b0201;
  --pb-alert-warning-bg: #ffecb5;
  --pb-alert-warning-color: #574204;
}


/**
 * Dark mode
 */

@media (prefers-color-scheme: dark) {
  :root {
    --pb-body-bg: #0e1424;
    --pb-body-color: #e5eaf5;
    --pb-link-color: #61a2ff;

    --pb-title-from-color: #4994fc;
    --pb-title-to-color: #67e0e4;

    --pb-job-line-color: #2d447c;

    --pb-text-muted: #8fa2d5;
    --pb-btn-transparent-hover-bg: #17223d;
    --pb-track-play-bg: #399b71;
    --pb-track-play-color: #121b31;
  }

  img {
    filter: brightness(85%) grayscale(10%);
  }
}


/**
 * CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/**
 * SCAFFOLDING
 */

body {
  background-color: var(--pb-body-bg);;
  color: var(--pb-body-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: var(--pb-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/**
 * HEADER
 */

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 70rem;
}

.header__logo {
  color: var(--pb-body-color);
  margin: 16px auto;
}

.header__nav > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__navItem {
  height: 100%;
}

.header__navItem > a {
  border-bottom: 3px solid transparent;
  color: var(--pb-text-muted);
  display: block;
  padding: 8px 12px;
  height: 100%;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .header {
    flex-direction: row;
  }

  .header__logo {
    margin: 0 auto 0 0;
  }

  .header__navItem > a {
    border-bottom: 0;
    border-top: 3px solid transparent;
  }
}

.header__navItem > a:hover {
  color: var(--pb-link-color);
  border-color: var(--pb-link-color);
}

.header__navItem--active > a {
  color: var(--pb-body-color);
  border-color: var(--pb-body-color);
}

/**
 * Index page
 */

.title {
  background-color: var(--pb-link-color);
  background-image: linear-gradient(135deg, var(--pb-title-from-color), var(--pb-title-to-color));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  font-size: 4.25rem;
  font-weight: 800;
  line-height: 4.8rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.masonry {
  column-count: 2;
  column-gap: 16px;
}

@media screen and (min-width: 576px) {
  .masonry {
    column-count: 3;
  }
}

.masonry .masonry__item {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 16px;
  break-inside: avoid;
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, .05);
}

.masonry .masonry__item > img {
  border-radius: 8px;
  grid-row: 1 / -1;
  grid-column: 1;
  width: 100%;
}

.masonry .masonry__metadata {
  border-radius: 7px; /* 8px minus 1 px */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;
  transition: opacity .15s linear;
  opacity: 0;
}

.masonry__item:hover .masonry__metadata,
.masonry__item:focus .masonry__metadata {
  opacity: 1;
}

.masonry .masonry__metadata {
  color: white;
}

.track > a {
  text-align: left !important;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  text-decoration: none !important;
}

.track img {
  border: 1px solid rgba(0, 0, 0, .05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
  border-radius: 8px;
  margin-right: 8px;
}

.track_metadata {
  flex: 1;
}

.track_play {
  border-radius: 50%;
  background: var(--pb-track-play-bg);
  padding: 8px;

  transition: opacity .15s linear;
  opacity: 0;
}

.track_play svg {
  color: var(--pb-track-play-color);
}

.track > a:hover > .track_play,
.track > a:focus > .track_play {
  opacity: 1;
}


/**
 * Jobs page
 */

.company__metadata {
  display: flex;
  align-items: center;
}

.company__metadata > img {
  margin-right: 16px;
  border-radius: 12px;
  box-shadow: 0 0 0 4px var(--pb-body-bg), 0 0 0 6px var(--pb-job-line-color);
}

.jobs {
  border-left: 2px solid var(--pb-job-line-color);
  margin-left: 24px;
  padding-bottom: 48px !important;
  padding-top: 12px !important;
}

.company:last-child .jobs {
  padding-bottom: 0 !important;
}

.jobs > li {
  position: relative;
}

.jobs > li::before {
  position: absolute;
  background-color: var(--pb-job-line-color);
  height: 8px;
  width: 8px;
  border-radius: 8px;
  content: "";
  top: 50%;
  left: -5px;
  margin-top: -4px;
  z-index: 3;
  box-shadow: 0 0 0 4px var(--pb-body-bg), 0 0 0 6px var(--pb-job-line-color);
}


/**
 * Blog page
 */

.blog-post {

}


/**
 * Container
 */

.container {
  max-width: 70rem;
  padding: 0 16px;
  margin: 0 auto;
}

/**
 * POST
 */

.post header {
  margin-bottom: 3rem;
}

.post header h1 {
  margin-bottom: .25rem;
}

.pager {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pager ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pager ul li {
  display: flex;
  width: 100%;
}

.pager ul li:nth-child(2) {
  text-align: right;
  width: 100%;
}

.pager .pagerItem {
  color: inherit;
  text-decoration: none;
  width: 100%;
  position: relative;
  font-size: 1.125rem;
}

.pager .pagerItem::before {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1;
  color: #e2e9ef;
  display: inline-block;
  width: 100%;

  background-color: var(--pb-link-color);
  background-image: linear-gradient(45deg, var(--pb-title-from-color), var(--pb-title-to-color));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.pager ul li:nth-child(1) .pagerItem::before {
  content: 'PREV';
}

.pager ul li:nth-child(2) .pagerItem::before {
  content: 'NEXT';
}

.pager .pagerItem:hover {
  text-decoration: underline;
}

.alert {
  border-radius: 6px;
  padding: 16px 24px;
  margin-bottom: 1.5rem;
}

.alert p:last-of-type {
  margin-bottom: 0 !important;
}

.alert--info {
  background-color: var(--pb-alert-info-bg);
  color: var(--pb-alert-info-color);
}

.alert--danger {
  background-color: var(--pb-alert-danger-bg);
  color: var(--pb-alert-danger-color);
}

.alert--warning {
  background-color: var(--pb-alert-warning-bg);
  color: var(--pb-alert-warning-color);
}

/**
 * PROSE
 */

.prose a {
  color: inherit;
  font-weight: 500;
  text-decoration: underline;
}

.prose strong {
  font-weight: 600;
}

.prose hr {
  border-color: #e5e7eb;
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose blockquote {
  font-weight: 500;
  font-style: italic;
  border-left: .25rem solid #e5e7eb;
  quotes: "\201C" "\201D" "\2018" "\2019";
  margin: 1.6em 0;
  padding-left: 1em;
}

.prose blockquote p:first-of-type::before {
  content: open-quote;
}

.prose blockquote p:last-of-type::after {
  content: close-quote;
}

.prose h1 {
  font-size: 4.25rem;
  font-weight: 800;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.prose h2 {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.prose h3 {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.prose h4 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.prose h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

.prose :is(p, ul, ol, pre, table, blockquote) {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.prose :is(ul ul, ol ol, ul ol, ol ul) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose hr {
  border: 1px solid;
  margin: -1px 0;
}

.prose :is(sub, sup) {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.prose sup {
  top: -0.5em;
}

.prose sub {
  bottom: -0.25em;
}

.prose code::before {
  content: "`";
}

.prose code::after {
  content: "`";
}

pre[class*="language-"] {
  border-radius: .5rem;
}

code[class*="language-"]::before,
code[class*="language-"]::after {
  content: "";
}

.prose :is(h1,h2,h3,h4,h5,h6) a {
  font-weight: inherit;
  text-decoration: none;
}

.prose :is(h1,h2,h3,h4,h5,h6) a:hover {
  text-decoration: underline;
}


/**
 * Utilities
 */


.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 18px;
  font-size: 1rem;
  border-radius: 6px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

a.btn {
  color: inherit;
  text-decoration: none;
}

.btn-primary,
a.btn-primary {
  color: var(--pb-body-bg);
  background-color: var(--pb-link-color);
  border-color: var(--pb-link-color);
}

.btn-inverse,
a.btn-inverse {
  color: var(--pb-body-bg);
  background-color: var(--pb-body-color);
  border-color: var(--pb-body-color);
}

.btn-secondary.btn-transparent {

}

.btn-secondary.btn-transparent:hover {
  background-color: var(--pb-btn-transparent-hover-bg);
}





.btn-block {
  width: 100%;
}

.text-left {
  text-align: left;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

a:focus-visible,
button:focus-visible,
[tabindex]:focus-visible {
  outline: 3px solid var(--pb-link-color);
  outline-offset: 3px;
}

.text-muted {
  color: var(--pb-text-muted);
}
