---
layout: layouts/base.njk
templateClass:
---

<article class="container">
  <header>
    <h1 class="title">{{ title }}</h1>
    <h2>{{ company }}</h2>
    <div class="text-muted">
      <time datetime="{{ start | readableDate }}">{{ start | readableDate }}</time> - <time datetime="{{ end | readableDate }}">{{ end | readableDate }}</time>
    </div>
  </header>
  <div class="prose">
    {{ content | safe }}
  </div>
</article>
