---
layout: layouts/base.njk
templateClass:
---

<article class="container post">
  <header class="tagline">
    <h1 class="title">{{ title }}</h1>
    <div>
      <time class="text-muted" datetime="{{ page.date | readableDate('yyyy-LL-dd') }}">{{ page.date | readableDate }}</time>
    </div>
    {%- if(demo or download) %}
      <div class="sources">
        {%- if(demo) %}
          <a href="{{ demo | url }}" class="btn btn-primary">Demonstration</a>
        {%- endif %}
        {%- if(download) %}
          <a href="{{ download | url }}" class="btn btn-secondary">Sources</a>
        {%- endif %}
      </div>
    {%- endif %}
  </header>
  <div class="prose">
    {{ content | safe }}
  </div>
</article>
