---
layout: layouts/base.njk
templateClass:
---

<article class="container">
  <header class="tagline">
    <h1 class="title">{{ title }}</h1>
  </header>
  <div class="prose">
    {{ content | safe }}
  </div>
</article>
