---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 3
---

<div class="tagline">
  <h1 class="title">Blog</h1>
</div>

<ol class="list-unstyled">
  {% for post in collections.posts | reverse %}
    <li class="blog-post">
      <a href="{{ post.url | url }}">
        <h2>{{ post.data.title }}</h2>
      </a>
      <div>
        <time datetime="{{ post.date | readableDate('yyyy-LL-dd') }}" class="text-muted">{{ post.date | readableDate }}</time>
      </div>
      {{ post.data.page.excerpt | safe }}
    </li>
  {% endfor %}
</ol>
