---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 3
---

<h1 class="title">Blog</h1>

<ol class="list-unstyled">
  {% for post in collections.posts | reverse %}
    <li class="blog-post">
      <a href="{{ post.url | url }}">
        <h2>{{ post.data.title }}</h2>
      </a>
      {{ post.data.page.excerpt | safe }}
      <time datetime="{{ post.date | readableDate('yyyy-LL-dd') }}">{{ post.date | readableDate }}</time>
    </li>
  {% endfor %}
</ol>
