---
layout: layouts/home.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 2
---

<div class="tagline">
  <h1 class="title">My projects</h1>
</div>

{% for post in collections.projects | reverse %}
  <a href="{{ post.url | url }}" class="postlist-link">
    {{ post.data.title }}
    <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}">
  </a>
{% endfor %}
